div {
  box-sizing: border-box;
  display: block;
}

body {
  margin: 0;
}

.video_frame_wrapper {
  z-index: 1;
  position: relative;
  background-color: #e3e8eb;
  max-width: 100vw;
  min-height: 100vh;
  height: 750vh;
}

.video_frame_wrapper .video-set {
  position: sticky;
  top: 100px;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
}

.video_frame_wrapper .video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
}

.video-wrapper.hide {
  opacity: 0;
}

canvas {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

/* .video-text.part-1 {
  top: 0vh;
} */

.video-text.part-1 {
  top: 130vh;
}

.video-text.part-2 {
  top: 230vh;
}

.video-text.part-3 {
  top: 330vh;
}

.video-text.part-4 {
  top: 490vh;
}

.video-text.part-5 {
  top: 630vh;
}

.video-text {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.35s cubic-bezier(0.47, 0.42, 0, 0.99);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.text {
  font-size: 25px;
  color: white;
  position: absolute;
  max-width: 600px;
  left: 40px;
  margin-left: 12vw;
  top: 80%;
  /* top: 25%;
   left: 100px;
   opacity: 0;
   */
}

.text p {
  font-size: 18px;
  line-height: 26px;
}

.text h2 {
  color: #fff;
}

.anwrapper {
  position: RELATIVE;
}

.antext h2 {
  color:black;
  font-size: 44px;
}

.video_text {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}

/****** M-tag loader css ******/
#mtag-preloader-slider {
  position: sticky;
  height: calc(100vh + 100px);
  width: 100vw;
  z-index: 2147483657 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.mtagloader-blob{
  color: red;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
}
